# Linear Regression With Multiple Variables

**Also known as Multi_Variate Regression**

The first thing when a machine learning problem is given to you , is to analyse the data ... And do cleaning if required ... Regression model usually take numeric data for training ... Also look at relationships between the features ( independent variables ) and the target ( dependent variable )

In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv("homeprices.csv")
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

As there is a null value and looking at data set it seems that to take the median of that column and fill that null value

In [3]:
df.bedrooms

0    3.0
1    4.0
2    NaN
3    3.0
4    5.0
5    6.0
Name: bedrooms, dtype: float64

In [7]:
median=df.bedrooms.median()
median

4.0

In [9]:
import math
median=math.floor(median)
median

4

In [10]:
df.bedrooms

0    3.0
1    4.0
2    NaN
3    3.0
4    5.0
5    6.0
Name: bedrooms, dtype: float64

In [12]:
bedrooms = df.bedrooms.fillna(median)
bedrooms

0    3.0
1    4.0
2    4.0
3    3.0
4    5.0
5    6.0
Name: bedrooms, dtype: float64

Now to put this changings in the df back

In [14]:
df['bedrooms']=bedrooms
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

**Now the data is clean ... Also note there is the linear Relationship between the features and the target variable ... So , the Linear Regression model is best to implement here ...**

In [15]:
reg = linear_model.LinearRegression()

In [17]:
reg.fit(df[['area','bedrooms','age']],df.price) # 1 Arg is 2d ... So, Making the Df from the existing Df  ... use this syntax ... Df[['name u choose from existing df']]

LinearRegression()

**After the model is trained its best practice to find the coefficients and the intercept ...**
In multi variate case ... The equation is as follows ...
**y=m1f1+m2f2+m3f3+c**

In [18]:
reg.coef_

array([  112.06244194, 23388.88007794, -3231.71790863])

In [19]:
reg.intercept_

221323.00186540408

In [20]:
reg.predict([[2600,3,40]])

array([453583.27480345])

In [22]:
112.06244194*2600+23388.88007794*3-3231.71790863*40+221323.00186540408

453583.2747980241

In [23]:
reg.predict([[3300,4,18]])

array([626513.65823081])

Note : If you face the word data in the df columns then use the word2number module of python ... pip install word2number ... data like one , two ,three , four ... into 1,2,3,4

from word2number import w2n

df.name=df.name.apply(w2n.word_to_num)

Missing data k liye agr .. .linear relation increase ya decrease hai tw phir use median aur wese agr tw mean use