# Differnt Ways Of Creating Data Frame

# <font color="red" >From read_csv Method</font>

In [3]:
import pandas as pd
df1=pd.read_csv("weather_data.csv")

In [4]:
df1

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

# <font color="red" >From read_excel Method</font>

In [8]:
df2=pd.read_excel("weather_data.xlsx" ,"Sheet1")

In [10]:
df2

         day  temperature  windspeed  event
0 2017-01-01           32          6   Rain
1 2017-01-02           35          7  Sunny
2 2017-01-03           28          2   Snow

# <font color="red" >From Python Dictionaries</font>

In [11]:
family={
    "Name":["Asim","Afzal","Adeel","Aqib"],
    "Age":[22,50,16,25]   
}

In [12]:
df3=pd.DataFrame(family)

In [13]:
df3

    Name  Age
0   Asim   22
1  Afzal   50
2  Adeel   16
3   Aqib   25

# <font color="red" >From list of tuples</font>

In [14]:
toys=[
    ("aeroplane",220),
    ("kitchen house",500),
    ("doll",300)
]

In [15]:
df4=pd.DataFrame(toys,columns)

In [16]:
df4

               0    1
0      aeroplane  220
1  kitchen house  500
2           doll  300

In [17]:
df4=pd.DataFrame(toys,columns=["Category","Price"])

In [18]:
df4

        Category  Price
0      aeroplane    220
1  kitchen house    500
2           doll    300

# <font color="red" >From list of Dictionaries</font>

In [20]:
Food=[
    {"item":"shawarma","price":200},
    {"item":"burger","price":400},
    {"item":"pizza","price":1000}
]
df5=pd.DataFrame(Food)

In [21]:
df5

       item  price
0  shawarma    200
1    burger    400
2     pizza   1000

**There are other ways to read information from different sources into a DataFrame ... Visit Pandas IO Documentation**