# Over_Fitting

Over fitting is the very common issue in the machine learning probems ... It means you fit over and over to train your model and then its gives the high score the train data but comparitively low score on the test data

**Solution :**

L1 and L2 Regulariation ... in this we try to penalize the theta when by increasing the lamda so that the theta remain small

1 - underfit -> normal linear regression line of equation  ... 2-overfit -> higher order polynomial equation ... 3-bestfit -> we skew the remaining thetas to zero by adding the l1 and l2 parameters (penalty -> ...) and then its become genereic line and gives the good score for both the train one and the test one ... One more thing in the MSE (mean square error) there is y - [ ypred=h(theta) ]

**L1 and L2 Regularization parameter ( Penalty ) :**

1-L1 -> lemda*sumof(|thetas|) -> absolute taking | |

2-L2 -> lemda*sumof(thetas**2) -> asquare taking so called L2

In [1]:
# suppress warnings to keep notebook clean and looking good
import warnings
warnings.filterwarnings("ignore")

In [2]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv('Melbourne_housing_FULL.csv')
df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,NaN,SS,Jellis,3/09/2016,2.5,3067.0,...,1.0,1.0,126.0,NaN,NaN,Yarra City Council,-37.8014,144.9958,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra City Council,-37.7996,144.9984,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra City Council,-37.8079,144.9934,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3,u,NaN,VB,Rounds,4/02/2016,2.5,3067.0,...,2.0,1.0,0.0,NaN,NaN,Yarra City Council,-37.8114,145.0116,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra City Council,-37.8093,144.9944,Northern Metropolitan,4019.0

In [4]:
df.shape

(34857, 21)

In [5]:
df.nunique()

Suburb             351
Address          34009
Rooms               12
Type                 3
Price             2871
Method               9
SellerG            388
Date                78
Distance           215
Postcode           211
Bedroom2            15
Bathroom            11
Car                 15
Landsize          1684
BuildingArea       740
YearBuilt          160
CouncilArea         33
Lattitude        13402
Longtitude       14524
Regionname           8
Propertycount      342
dtype: int64

In [6]:
cols_to_use = [
    'Suburb','Rooms','Type','Method','Price','SellerG','Bedroom2','Distance','Bathroom','Car','Landsize','BuildingArea','CouncilArea','Regionname','Propertycount'   
]
cols_to_use

['Suburb',
 'Rooms',
 'Type',
 'Method',
 'Price',
 'SellerG',
 'Bedroom2',
 'Distance',
 'Bathroom',
 'Car',
 'Landsize',
 'BuildingArea',
 'CouncilArea',
 'Regionname',
 'Propertycount']

In [7]:
len(cols_to_use)

15

In [8]:
df=df[cols_to_use]
df.head()

,Suburb,Rooms,Type,Method,Price,SellerG,Bedroom2,Distance,Bathroom,Car,Landsize,BuildingArea,CouncilArea,Regionname,Propertycount
0,Abbotsford,2,h,SS,NaN,Jellis,2.0,2.5,1.0,1.0,126.0,NaN,Yarra City Council,Northern Metropolitan,4019.0
1,Abbotsford,2,h,S,1480000.0,Biggin,2.0,2.5,1.0,1.0,202.0,NaN,Yarra City Council,Northern Metropolitan,4019.0
2,Abbotsford,2,h,S,1035000.0,Biggin,2.0,2.5,1.0,0.0,156.0,79.0,Yarra City Council,Northern Metropolitan,4019.0
3,Abbotsford,3,u,VB,NaN,Rounds,3.0,2.5,2.0,1.0,0.0,NaN,Yarra City Council,Northern Metropolitan,4019.0
4,Abbotsford,3,h,SP,1465000.0,Biggin,3.0,2.5,2.0,0.0,134.0,150.0,Yarra City Council,Northern Metropolitan,4019.0

In [9]:
df.shape

(34857, 15)

In [10]:
df.isna().sum()

Suburb               0
Rooms                0
Type                 0
Method               0
Price             7610
SellerG              0
Bedroom2          8217
Distance             1
Bathroom          8226
Car               8728
Landsize         11810
BuildingArea     21115
CouncilArea          3
Regionname           3
Propertycount        3
dtype: int64

In [11]:
cols_to_fill_by_0 = [
    'Propertycount','Distance','Bedroom2','Bathroom','Car'
]

In [12]:
cols_to_fill_by_0

['Propertycount', 'Distance', 'Bedroom2', 'Bathroom', 'Car']

In [13]:
df[cols_to_fill_by_0] = df[cols_to_fill_by_0].fillna(0)
df.isna().sum()

Suburb               0
Rooms                0
Type                 0
Method               0
Price             7610
SellerG              0
Bedroom2             0
Distance             0
Bathroom             0
Car                  0
Landsize         11810
BuildingArea     21115
CouncilArea          3
Regionname           3
Propertycount        0
dtype: int64

In [14]:
df['Landsize'].fillna(df.Landsize.mean(),inplace=True)
df['BuildingArea'].fillna(df.BuildingArea.mean(),inplace=True)
df['Price'].fillna(df.Price.mean(),inplace=True)
df.isna().sum()

Suburb           0
Rooms            0
Type             0
Method           0
Price            0
SellerG          0
Bedroom2         0
Distance         0
Bathroom         0
Car              0
Landsize         0
BuildingArea     0
CouncilArea      3
Regionname       3
Propertycount    0
dtype: int64

In [15]:
df.dropna(inplace=True)
df.isna().sum()

Suburb           0
Rooms            0
Type             0
Method           0
Price            0
SellerG          0
Bedroom2         0
Distance         0
Bathroom         0
Car              0
Landsize         0
BuildingArea     0
CouncilArea      0
Regionname       0
Propertycount    0
dtype: int64

In [16]:
df.shape

(34854, 15)

In [17]:
df.head()

,Suburb,Rooms,Type,Method,Price,SellerG,Bedroom2,Distance,Bathroom,Car,Landsize,BuildingArea,CouncilArea,Regionname,Propertycount
0,Abbotsford,2,h,SS,1.050173e+06,Jellis,2.0,2.5,1.0,1.0,126.0,160.2564,Yarra City Council,Northern Metropolitan,4019.0
1,Abbotsford,2,h,S,1.480000e+06,Biggin,2.0,2.5,1.0,1.0,202.0,160.2564,Yarra City Council,Northern Metropolitan,4019.0
2,Abbotsford,2,h,S,1.035000e+06,Biggin,2.0,2.5,1.0,0.0,156.0,79.0000,Yarra City Council,Northern Metropolitan,4019.0
3,Abbotsford,3,u,VB,1.050173e+06,Rounds,3.0,2.5,2.0,1.0,0.0,160.2564,Yarra City Council,Northern Metropolitan,4019.0
4,Abbotsford,3,h,SP,1.465000e+06,Biggin,3.0,2.5,2.0,0.0,134.0,150.0000,Yarra City Council,Northern Metropolitan,4019.0

In [18]:
df = pd.get_dummies(df,drop_first=True) # drop_first - > to avoid the dummies variable trap
df.head()

,Rooms,Price,Bedroom2,Distance,Bathroom,Car,Landsize,BuildingArea,Propertycount,Suburb_Aberfeldie,...,CouncilArea_Wyndham City Council,CouncilArea_Yarra City Council,CouncilArea_Yarra Ranges Shire Council,Regionname_Eastern Victoria,Regionname_Northern Metropolitan,Regionname_Northern Victoria,Regionname_South-Eastern Metropolitan,Regionname_Southern Metropolitan,Regionname_Western Metropolitan,Regionname_Western Victoria
0,2,1.050173e+06,2.0,2.5,1.0,1.0,126.0,160.2564,4019.0,0,...,0,1,0,0,1,0,0,0,0,0
1,2,1.480000e+06,2.0,2.5,1.0,1.0,202.0,160.2564,4019.0,0,...,0,1,0,0,1,0,0,0,0,0
2,2,1.035000e+06,2.0,2.5,1.0,0.0,156.0,79.0000,4019.0,0,...,0,1,0,0,1,0,0,0,0,0
3,3,1.050173e+06,3.0,2.5,2.0,1.0,0.0,160.2564,4019.0,0,...,0,1,0,0,1,0,0,0,0,0
4,3,1.465000e+06,3.0,2.5,2.0,0.0,134.0,150.0000,4019.0,0,...,0,1,0,0,1,0,0,0,0,0

In [19]:
x=df.drop('Price',axis=True)
y=df.Price

In [20]:
from sklearn.model_selection import train_test_split

In [21]:
X_train, X_test, y_train, y_test = train_test_split(x,y,test_size=0.5,random_state=2)

In [22]:
len(X_train)

17427

In [23]:
len(X_test)

17427

In [24]:
from sklearn.linear_model import LinearRegression

In [25]:
model = LinearRegression()

In [26]:
model.fit(X_train,y_train)

LinearRegression()

# Addressing The Over Fitting

In [27]:
model.score(X_test,y_test)

-227652762165.613

In [28]:
model.score(X_train,y_train)  # so its addressing the over fitting

0.49038034576493306

# Resolving The Over Fitting

In [29]:
# lasso -> l1
# ridge -> l2

In [30]:
from sklearn.linear_model import Lasso

In [31]:
lasso_regression = Lasso(max_iter=50) # in each iteration reducing the MSE ... same max_iter as we use in the Logistic Regression to avoid the error
# you can tune other erros for the better results

In [32]:
lasso_regression.fit(X_train,y_train)

Lasso(max_iter=50)

In [33]:
lasso_regression.score(X_train,y_train)

0.4901511642366412

In [34]:
lasso_regression.score(X_test,y_test)

0.43103857910612664

In [35]:
from sklearn.linear_model import Ridge

In [36]:
ridge_regression = Ridge(max_iter=50)

In [37]:
ridge_regression.fit(X_train,y_train)

Ridge(max_iter=50)

In [38]:
ridge_regression.score(X_train,y_train)

0.4895144236271537

In [39]:
ridge_regression.score(X_test,y_test)

0.4350764198375153