In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("spam.csv")
df.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [3]:
df.shape

(5572, 2)

In [4]:
df["Spam"]=df.Category.apply(lambda x : 1 if x=="spam" else 0 )
df.head()

  Category                                            Message  Spam
0      ham  Go until jurong point, crazy.. Available only ...     0
1      ham                      Ok lar... Joking wif u oni...     0
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3      ham  U dun say so early hor... U c already then say...     0
4      ham  Nah I don't think he goes to usf, he lives aro...     0

In [5]:
inputs = df.drop('Category',axis=1)
inputs.head()

                                             Message  Spam
0  Go until jurong point, crazy.. Available only ...     0
1                      Ok lar... Joking wif u oni...     0
2  Free entry in 2 a wkly comp to win FA Cup fina...     1
3  U dun say so early hor... U c already then say...     0
4  Nah I don't think he goes to usf, he lives aro...     0

In [6]:
from sklearn.feature_extraction.text import CountVectorizer

In [7]:
v = CountVectorizer()
message_count = v.fit_transform(inputs.Message)
message_count

<5572x8709 sparse matrix of type '<class 'numpy.int64'>'
	with 74098 stored elements in Compressed Sparse Row format>

In [8]:
message_count=message_count.toarray()

In [9]:
message_count

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [10]:
message_count.shape

(5572, 8709)

In [11]:
df_count = pd.DataFrame(message_count)

In [12]:
df_count.head()

,0,1,2,3,4,5,6,7,8,9,...,8699,8700,8701,8702,8703,8704,8705,8706,8707,8708
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [13]:
inputs = inputs.drop('Message',axis=1)
inputs.head()

   Spam
0     0
1     0
2     1
3     0
4     0

In [14]:
inputs = pd.concat([df_count,inputs],axis=1)
inputs.head()

,0,1,2,3,4,5,6,7,8,9,...,8700,8701,8702,8703,8704,8705,8706,8707,8708,Spam
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [15]:
target = inputs.Spam

In [16]:
inputs = inputs.drop('Spam',axis=1)
inputs.head()

,0,1,2,3,4,5,6,7,8,9,...,8699,8700,8701,8702,8703,8704,8705,8706,8707,8708
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [17]:
from sklearn.model_selection import train_test_split

In [18]:
X_train, X_test, y_train, y_test = train_test_split(inputs,target,test_size=0.3)

In [19]:
from sklearn.naive_bayes import MultinomialNB

In [20]:
model = MultinomialNB()

In [21]:
model.fit(X_train,y_train)

MultinomialNB()

In [22]:
model.score(X_test,y_test)

0.9826555023923444

In [23]:
email = [
    
    "hello friend , can you please make me to understand the assignmet of COAl ",
    "Hello Asim , there is discount on the event of EID on new arrivals",
    "Upto 20 % off on parking in the mall during 5 to 8 pm ",
    "Free entry in 2 weeks to win FA final cup for newzealand"
    
]

In [24]:
email

['hello friend , can you please make me to understand the assignmet of COAl ',
 'Hello Asim , there is discount on the event of EID on new arrivals',
 'Upto 20 % off on parking in the mall during 5 to 8 pm ',
 'Free entry in 2 weeks to win FA final cup for newzealand']

In [25]:
email_count = v.transform(email)
email_count

<4x8709 sparse matrix of type '<class 'numpy.int64'>'
	with 41 stored elements in Compressed Sparse Row format>

In [26]:
email_count_array = email_count.toarray()
email_count_array

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [27]:
df_email = pd.DataFrame(email_count_array)
df_email

,0,1,2,3,4,5,6,7,8,9,...,8699,8700,8701,8702,8703,8704,8705,8706,8707,8708
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [28]:
model.predict(df_email)

array([0, 0, 0, 1], dtype=int64)

In [29]:
from sklearn.pipeline import Pipeline

In [30]:
clf = Pipeline([
    ("vectorizer",CountVectorizer()),
    ("model",MultinomialNB())
])

In [31]:
clf.fit(df.Message,target)

Pipeline(steps=[('vectorizer', CountVectorizer()), ('model', MultinomialNB())])

In [32]:
clf.score(df.Message,target)

0.9935391241923905

In [33]:
clf.predict(email)

array([0, 0, 0, 1], dtype=int64)